<a href="https://colab.research.google.com/github/hreczanyg/machine-learning-bootcamp/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pip install xlwt openpyxl xlrd

In [ ]:
dane = pd.read_csv('/content/dane.csv', sep = ';')

FileNotFoundError: ignored

In [ ]:
dane[:4]

In [ ]:
imionaM = pd.read_excel('/content/imiona_m.xlsx')
imiona_m = set(imionaM['imie_meskie'].str.capitalize())

NameError: ignored

In [ ]:
imionaK = pd.read_excel('/content/imiona_k.xlsx')
polish_female_names = set(female_names_df['name'].str.capitalize())

In [ ]:
def gender(first_name):
    if isinstance(first_name, str):
        if first_name in imionaK:
            return 'kobieta'
        elif first_name in imionaM:
            return 'mężczyzna'
        else:
          return None
    else: 
      return None

In [ ]:
dane['gender'] = dane['first_name'].apply(gender)

In [ ]:
dane

,date_add,first_name,last_name,email,registered,last_visit,verify_email,origin,discount,active,...,zip_code 2,state 2,country 2,address_default 2,address_shipping_default 2,phone 2,country_code 2,additional_fields 10,additional_fields 6,gender
0,2017-06-05 08:56:59,Waldemar,Hreczany,waldemar.hreczany@poczta-polska.pl,0,0000-00-00 00:00:00,0,0,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,None
1,2017-07-12 05:39:26,Waldemar,Hreczany,waldekh3@wp.pl,1,0000-00-00 00:00:00,1,0,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,None
2,2017-07-14 17:34:16,Dariusz,Kasprzyszak,darkov.85@wp.pl,0,0000-00-00 00:00:00,0,0,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,2017-08-09 18:10:19,Beata,Koc,cbj.consult@gmail.com,0,0000-00-00 00:00:00,0,0,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,None
4,2017-08-30 20:34:21,Adrian,Olejarski,aolejarski@wp.pl,0,0000-00-00 00:00:00,0,0,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299,2023-05-22 09:45:49,WERONIKA,STACHOWIAK,weronika.stachowiak@nowaelektro.pl,0,0000-00-00 00:00:00,0,0,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1300,2023-05-23 09:35:11,NaN,NaN,kamil.g.kalinowski@gmail.com,1,2023-05-23 09:35:30,1,0,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mężczyzna,1.0,None
1301,2023-05-23 10:30:51,Jaklub,Stępień,stepienjakub@wp.pl,0,0000-00-00 00:00:00,0,0,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1302,2023-05-28 16:25:07,Miłosz,Zwolak,ggonzo354@gmail.com,0,0000-00-00 00:00:00,0,0,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1303,2023-05-28 19:52:37,Dariusz,Lindecki,lindar68@wp.pl,0,0000-00-00 00:00:00,0,0,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None